@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    width: 100%;
}

@media (min-width: 540px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 720px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 960px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1140px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1320px) {
    .container {
        max-width: 1320px;
    }
}

.two:hover span {
    width: 50%;
}